# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Build outputs
/build/
**/*.apk
**/*.aab
**/*.so
**/*.dill
**/flutter_assets/

# Android intermediates
/android/.gradle/
android/app/build/
**/intermediates/
**/merged_native_libs/
**/incremental/
**/zip-cache/

# iOS
/ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
